# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [0]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [0]:
# Check each column for missing values
print(properties.isna().any())

# Bar plot of missing values by variable
properties.isna().sum().plot(kind="bar")
plt.title('Figure 0: NaN Value Count by Column Name')

# Show plot
plt.show()

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [0]:
# Transpose the dataframe
properties_t = properties.transpose()

# Clear NaT value and replace with empty string
properties_t.iloc[0,:][0] = ''

# Remove NaN row indexes and reset indexes
properties_t = properties_t.dropna(how='any').reset_index()

# Generate list of borough codes
borough_codes = pd.DataFrame(properties_t.iloc[:,1])

# Generate list of correct boroughs of London
is_a_borough = ~borough_codes[0].isin(not_a_borough[0])

# Remove rows that are not boroughs of London 
properties_t = properties_t.loc[is_a_borough, :]

# Transpose the data back to its original orientation
properties = properties_t.transpose()

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [0]:
# Rename columns to borough names
properties = properties.rename(columns=properties_t['index'])
properties = properties.rename(columns={'Unnamed: 0':'Month'})

# Drop unnecessary rows and reset indexes
properties = properties.drop(['index',0]).set_index('Month')

# Generate list of columns for type conversion
borough_cols = list(properties.columns[0:].astype(str))

# Convert type of columns to float
properties[borough_cols] = properties[borough_cols].apply(pd.to_numeric)

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [0]:
# Prepare the data for melt: transpose, reset index, rename index column
properties_t = properties.transpose().reset_index().rename(columns={"index": "London_Borough"})

# Melt the dataframe to construct monthly average_price values for each borough
properties_melt = pd.melt(properties_t, id_vars= ['London_Borough'],value_name='Average_price')

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [0]:
# Average_price column data types converted to float previously (Part 2.3: Line 12)

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

In [0]:
# null value columns removed previously (Part 2.2: Lines 4-8)

# Final cleaned dataframe
df = properties_melt

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

In [0]:
# How have prices in Camden changed since 1996?
# Extract Average_price values from Camden borough
camden_prices = df[df['London_Borough'] == 'Camden']

# Generate axis object and plot price over time for Camden
ax = camden_prices.plot(kind='line',x='Month',y='Average_price')
ax.set_ylabel('Price')
ax.set_xlabel('Month')
plt.title('Figure 1: Average Camden Home Price (1996-2021)')
plt.show()

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

In [0]:
# Extract year from each month and add to new column
df['Year'] = df['Month'].apply(lambda x: x.year)

# Calculate mean housing price for each bourough for each year
dfg = df.groupby(by=['London_Borough','Year']).mean()
dfg = dfg.reset_index()

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

In [0]:
# Define 2018/1998 price ratio calculation function
def create_price_ratio(data):
    p1998 = float(data['Average_price'][data['Year'] == 1998])
    p2018 = float(data['Average_price'][data['Year'] == 2018])
    ratio = [p2018 / p1998]
    return ratio

create_price_ratio(dfg[dfg['London_Borough'] =='Barking & Dagenham'])

# Create empty dictionary for borough price ratios
final = {}

# Now let's declare a for loop that will iterate through each of the unique elements of the 'London_Borough' column of our DataFrame dfg.
# Call the iterator variable 'b'. 
for b in dfg['London_Borough'].unique():
    # Let's make our parameter to our create_price_ratio function: i.e., we subset dfg on 'London_Borough' == b. 
    borough = dfg[dfg['London_Borough'] == b]
    # Make a new entry in the final dictionary whose value's the result of calling create_price_ratio with the argument: borough
    final[b] = create_price_ratio(borough)

# Convert final to DataFrame, transpose, and reset index
df_ratios = pd.DataFrame(final).transpose().reset_index()

# Rename columns for legibility 
df_ratios = df_ratios.rename(columns={'index':'Borough', 0:'2018'})

# Sort in descending order and select the top 15 boroughs. 
top_15 = df_ratios.sort_values(by='2018',ascending=False).head(15)
print(top_15)

# Generate bar plot of 15 boroughs with greatest 1998-2018 price increase
ax = top_15[['Borough','2018']].plot(kind='bar')
ax.set_xticklabels(top_15.Borough)
plt.title('Figure 2: Home Price Increase Factors for Top 15 Boroughs (1998-2018)')
plt.show()

# More Visualization
# Goal: Generate line plot of top 5 boroughs average price from 1998-2018

# Filter out the top 5 most price appreciated borough names
top_5 = top_15.reset_index(drop=True).iloc[0:5,:]

# Filter the grouped yearly mean price dataframe to include only the top 5 boroughs
top_5_filtered = dfg[dfg['London_Borough'].isin(top_5['Borough'])]

# Generate a list of the top 5 borough names
borough_labels = list(top_5['Borough'])

# Iterate through top 5 borough price data and plot mean annual prices with borough name
for name in borough_labels:
    plt.plot(top_5_filtered[top_5_filtered['London_Borough'] == name]['Year'], \
             top_5_filtered[top_5_filtered['London_Borough'] == name]['Average_price'], \
             label=name)

# Generate y axis labels (for price data)
yticklabels = []
for i in range(0,1300000,100000):
    yticklabels.append(i)

# Generate plot of price history for the top 5 boroughs which experienced the
# greatest price appreciation from 1998-2018
plt.ylabel('Price')
plt.xlabel('Year')
plt.title('Figure 3: Top 5 Boroughs with Greatest Price Increase')
plt.yticks(yticklabels,yticklabels)
plt.legend()
plt.show()

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course! 

__________________________________________________________

'Which borough of London has seen the greatest average increase in housing prices over 
the (approximately) two decades covered by the dataset?'

The answer to the initial question (above) can be shown to be 'Hackney' by the ratio calculations completed with the create_price_ratio() function shown in Part 3. 
Homes within the Hackney borough have experienced a price increase by a factor of ~6.2 in the 20 years from 1998-2018, a 31.9% increase from the mean price increase factor of ~4.7 for all 30 London boroughs over the same time period. The general trend of price appreciation for the top 5 most expensive boroughs can be seen in Figure 3.
Similarly, all 30 of the London boroughs have experienced significant price appreciation from 1998-2018. The minimum increase occured in Hounslow, where homes still nearly quadrupled in value (by a factor of ~3.98).