We can start by importing the packages we'll be using in this exploration.

In [1]:
# Import relevant packages
import os
import pandas as pd

Next, lets load in our dataset from Kaggle. It consists of 6 files, which we will import as DataFrames from their respective filetypes.

In [2]:
# Load HR data sourced from Kaggle 
# Source: https://www.kaggle.com/datasets/vjchoudhary7/hr-analytics-case-study

data_dictionary = pd.read_excel('data_dictionary.xlsx')
emp_survey = pd.read_csv('employee_survey_data.csv')
man_survey = pd.read_csv('manager_survey_data.csv')
in_time = pd.read_csv('in_time.csv')
out_time = pd.read_csv('out_time.csv')
gen_data = pd.read_csv('general_data.csv')

Let's check out the largest of these DataFrames, 'gen_data'.

In [3]:
# Print info
print(gen_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB
None

Let's also take a look at the metadata file to make sure we understand what the 'gen_data' columns are referencing.

In [4]:
# Print metadata
print(data_dictionary)

                    Variable  \
0                        Age
1                  Attrition
2             BusinessTravel
3                 Department
4           DistanceFromHome
5                  Education
6                        NaN
7                        NaN
8                        NaN
9                        NaN
10            EducationField
11             EmployeeCount
12            EmployeeNumber
13   EnvironmentSatisfaction
14                       NaN
15                       NaN
16                       NaN
17                    Gender
18            JobInvolvement
19                       NaN
20                       NaN
21                       NaN
22                  JobLevel
23                   JobRole
24           JobSatisfaction
25                       NaN
26                       NaN
27                       NaN
28             MaritalStatus
29             MonthlyIncome
30        NumCompaniesWorked
31                    Over18
32         PercentSalaryHike
33         PerformanceRating
34                       NaN
35                       NaN
36                       NaN
37  RelationshipSatisfaction
38                       NaN
39                       NaN
40                       NaN
41             StandardHours
42          StockOptionLevel
43         TotalWorkingYears
44     TrainingTimesLastYear
45           WorkLifeBalance
46                       NaN
47                       NaN
48                       NaN
49            YearsAtCompany
50   YearsSinceLastPromotion
51      YearsWithCurrManager

                                              Meaning             Levels
0                                 Age of the employee                NaN
1   Whether the employee left in the previous year...                NaN
2   How frequently the employees travelled for bus...                NaN
3                               Department in company                NaN
4                           Distance from home in kms                NaN
5                                     Education Level  1 'Below College'
6                                                 NaN        2 'College'
7                                                 NaN       3 'Bachelor'
8                                                 NaN         4 'Master'
9                                                 NaN         5 'Doctor'
10                                 Field of education                NaN
11                                     Employee count                NaN
12                                 Employee number/id                NaN
13                Work Environment Satisfaction Level            1 'Low'
14                                                NaN         2 'Medium'
15                                                NaN           3 'High'
16                                                NaN      4 'Very High'
17                                 Gender of employee                NaN
18                              Job Involvement Level            1 'Low'
19                                                NaN         2 'Medium'
20                                                NaN           3 'High'
21                                                NaN      4 'Very High'
22          Job level at company on a scale of 1 to 5                NaN
23                        Name of job role in company                NaN
24                             Job Satisfaction Level            1 'Low'
25                                                NaN         2 'Medium'
26                                                NaN           3 'High'
27                                                NaN      4 'Very High'
28                     Marital status of the employee                NaN
29                 Monthly income in rupees per month                NaN
30  Total number of companies the employee has wor...                NaN
31  Whether the employee is above 18 years of age ...                NaN
32                  Percent salary hike for last year                NaN
33                   Performance rating for last year            1 'Low'
34                                                NaN           2 'Good'
35                                                NaN      3 'Excellent'
36                                                NaN    4 'Outstanding'
37                    Relationship satisfaction level            1 'Low'
38                                                NaN         2 'Medium'
39                                                NaN           3 'High'
40                                                NaN      4 'Very High'
41            Standard hours of work for the employee                NaN
42                 Stock option level of the employee                NaN
43  Total number of years the employee has worked ...                NaN
44  Number of times training was conducted for thi...                NaN
45                            Work life balance level            1 'Bad'
46                                                NaN           2 'Good'
47                                                NaN         3 'Better'
48                                                NaN           4 'Best'
49  Total number of years spent at the company by ...                NaN
50               Number of years since last promotion                NaN
51              Number of years under current manager                NaN

Now we can begin with some housekeeping: lets save a copy of the raw general dataframe for later reference, and also set a common index between DataFrames where possible.

In [5]:
# Save a copy of the original dataframe for later reference
gen_data_orig = gen_data.copy()

# Set indexes to Employee ID
gen_data = gen_data.set_index('EmployeeID')
emp_survey = emp_survey.set_index('EmployeeID')
man_survey = man_survey.set_index('EmployeeID')

Focusing on the general HR DataFrame, lets do some initial cleaning tasks, like calculating the number of missing values for each column and removing records with missing values.

In [6]:
# Missing value counts for general data
print(gen_data.isna().sum())

# Remove records with missing values
gen_data.dropna(subset=['NumCompaniesWorked','TotalWorkingYears'], inplace=True)

# Reprint missing value counts to ensure removal of missing records
print(gen_data.isna().sum())

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64
Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

Next, lets convert non-US units to those used in the United States.

In [7]:
# Convert commute distance to miles (mi) from kilometers (km)
gen_data['DistanceFromHome'] = gen_data['DistanceFromHome']*0.621371

# Convert monthly income to United States Dollar (USD) from Indian Rupee (INR)
gen_data['MonthlyIncome'] = gen_data['MonthlyIncome']*0.012900993

Focusing now on the two timesheet DataFrames, lets again start with initial evaluation and cleaning tasks, like calculating the number of missing values for each column and removing holidays and weekends (dates in which all employees were not present at work).

In [8]:
# --- WORKING WITH TIMESHEET DATA --- #

# Missing value counts for timesheet data
print(in_time.isna().sum())
print(out_time.isna().sum())

# Find working days and remove holidays
in_time_workdays = in_time.T.dropna(how="all")
out_time_workdays  = out_time.T.dropna(how="all")

# Transpose the DataFrames for later manipulations
in_time_workdays  = in_time_workdays.T
out_time_workdays  = out_time_workdays.T

# Drop irrelevant columns
in_time_workdays = in_time_workdays.drop(labels=['Unnamed: 0'], axis=1)
out_time_workdays = out_time_workdays.drop(labels=['Unnamed: 0'], axis=1)

Unnamed: 0       0
2015-01-01    4410
2015-01-02     209
2015-01-05     206
2015-01-06     228
              ...
2015-12-25    4410
2015-12-28     234
2015-12-29     230
2015-12-30     265
2015-12-31     213
Length: 262, dtype: int64
Unnamed: 0       0
2015-01-01    4410
2015-01-02     209
2015-01-05     206
2015-01-06     228
              ...
2015-12-25    4410
2015-12-28     234
2015-12-29     230
2015-12-30     265
2015-12-31     213
Length: 262, dtype: int64

Now lets convert our in/out timesheet DataFrames to datetime objects for time calculation.

In [9]:
# Set columns to index
workdays_cols  = in_time_workdays.columns

# Convert datatype to datetime on 'in' timesheet DataFrame
in_time_workdays[workdays_cols] = in_time_workdays[workdays_cols]\
.apply(pd.to_datetime, errors='coerce')

# Convert datatype to datetime on 'out' timesheet DataFrame
out_time_workdays[workdays_cols] = out_time_workdays[workdays_cols]\
.apply(pd.to_datetime, errors='coerce')

We can take advantage of the identical configuration of the 'in_time'/'out_time' DataFrames to evaluate the period worked each day by each employee via the .subtract() method. We can then clean the result by replacing missing days (days in which the employee did not clock in) with a timedelta value of 0 seconds.

In [10]:
# Calculate daily worked hours via subtraction
hours_timedelta = out_time_workdays.subtract(in_time_workdays)

# Replace NaT values with 0 for hours worked
hours_timedelta = hours_timedelta.fillna(pd.Timedelta(seconds=0))

Next, we can calculate summary statistics over each employee's worked hours and rename our columns to reflect the calculations.

In [11]:
# Calculate summary statistics on hours worked
hours_stats = hours_timedelta.T.agg(['mean','max','sum','std'])

# Rename columns
hours_stats = hours_stats.T
hours_stats.columns = ['MeanHrsWorked', 'MaxHrsWorked', 'SumHrsWorked', 'StdHrsWorked']

# Set the index to 'EmployeeID' column for later joining
hours_stats = hours_stats.set_index(gen_data_orig['EmployeeID'])

For easier calculations, we will now convert the timedelta values in our summary statistics DataFrame to floating point numbers in units of hours.

In [12]:
# Convert timedelta to time in hours
for column in hours_stats:
    hours_stats[column] = hours_stats[column].dt.total_seconds()/3600

Back-tracking to the 'in_time' DataFrame, we can quickly calculate the number of sick days/vacation days taken by each employee. This is accomplished by summing the number of days in which the employee did not check in (value is NaT).

In [13]:
# Initialize sick_days DataFrame
sick_days = pd.DataFrame([])

# Sum the number of days for each employee where no check-in time was recorded (NaT)
sick_days['SickDays'] = in_time_workdays.T.isna().sum() 

# Set the index to the common 'EmployeeID' column for joining
sick_days = sick_days.set_index(gen_data_orig['EmployeeID'])

Finally, lets inner-join the four cleaned DataFrames to form our final cleaned DataFrame for export.

In [14]:
# Join the four cleaned DataFrames using an inner-join
df = gen_data.merge(hours_stats, on='EmployeeID')\
    .merge(sick_days, on='EmployeeID')\
        .merge(emp_survey, on='EmployeeID')\
            .merge(man_survey, on='EmployeeID')

Last, lets check out and export our aggregated and cleaned HR dataset.

In [17]:
print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4382 entries, 1 to 4409
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4382 non-null   int64
 1   Attrition                4382 non-null   object
 2   BusinessTravel           4382 non-null   object
 3   Department               4382 non-null   object
 4   DistanceFromHome         4382 non-null   float64
 5   Education                4382 non-null   int64
 6   EducationField           4382 non-null   object
 7   EmployeeCount            4382 non-null   int64
 8   Gender                   4382 non-null   object
 9   JobLevel                 4382 non-null   int64
 10  JobRole                  4382 non-null   object
 11  MaritalStatus            4382 non-null   object
 12  MonthlyIncome            4382 non-null   float64
 13  NumCompaniesWorked       4382 non-null   float64
 14  Over18                   4382 non-null   object
 15  PercentSalaryHike        4382 non-null   int64
 16  StandardHours            4382 non-null   int64
 17  StockOptionLevel         4382 non-null   int64
 18  TotalWorkingYears        4382 non-null   float64
 19  TrainingTimesLastYear    4382 non-null   int64
 20  YearsAtCompany           4382 non-null   int64
 21  YearsSinceLastPromotion  4382 non-null   int64
 22  YearsWithCurrManager     4382 non-null   int64
 23  MeanHrsWorked            4382 non-null   float64
 24  MaxHrsWorked             4382 non-null   float64
 25  SumHrsWorked             4382 non-null   float64
 26  StdHrsWorked             4382 non-null   float64
 27  SickDays                 4382 non-null   int64
 28  EnvironmentSatisfaction  4357 non-null   float64
 29  JobSatisfaction          4362 non-null   float64
 30  WorkLifeBalance          4345 non-null   float64
 31  JobInvolvement           4382 non-null   int64
 32  PerformanceRating        4382 non-null   int64
dtypes: float64(11), int64(14), object(8)
memory usage: 1.1+ MB
None
            Age Attrition     BusinessTravel              Department  \
EmployeeID
1            51        No      Travel_Rarely                   Sales
2            31       Yes  Travel_Frequently  Research & Development
3            32        No  Travel_Frequently  Research & Development
4            38        No         Non-Travel  Research & Development
5            32        No      Travel_Rarely  Research & Development
...         ...       ...                ...                     ...
4405         29        No      Travel_Rarely                   Sales
4406         42        No      Travel_Rarely  Research & Development
4407         29        No      Travel_Rarely  Research & Development
4408         25        No      Travel_Rarely  Research & Development
4409         42        No      Travel_Rarely                   Sales

            DistanceFromHome  Education EducationField  EmployeeCount  Gender  \
EmployeeID
1                   3.728226          2  Life Sciences              1  Female
2                   6.213710          1  Life Sciences              1  Female
3                  10.563307          4          Other              1    Male
4                   1.242742          5  Life Sciences              1    Male
5                   6.213710          1        Medical              1    Male
...                      ...        ...            ...            ...     ...
4405                2.485484          3          Other              1  Female
4406                3.106855          4        Medical              1  Female
4407                1.242742          4        Medical              1    Male
4408               15.534275          2  Life Sciences              1    Male
4409               11.184678          2        Medical              1    Male

            JobLevel  ... MeanHrsWorked MaxHrsWorked  SumHrsWorked  \
EmployeeID            ...
1                  1  ...      6.870229     7.948333   1710.686944
2                  1  ...      7.315971     8.558889   1821.676667
3                  4  ...      6.816081     7.993611   1697.204167
4                  3  ...      6.789215     7.890833   1690.514444
5                  1  ...      7.877561     8.828333   1961.512778
...              ...  ...           ...          ...           ...
4405               2  ...      7.117084     8.494167   1772.153889
4406               1  ...      8.316921     9.413889   2070.913333
4407               1  ...      5.897197     6.814722   1468.401944
4408               2  ...      7.149526     8.476111   1780.231944
4409               1  ...      9.187612    10.300833   2287.715278

            StdHrsWorked SickDays  EnvironmentSatisfaction  JobSatisfaction  \
EmployeeID
1               1.883424       17                      3.0              4.0
2               1.747356       13                      3.0              2.0
3               1.201498        7                      2.0              2.0
4               1.683223       14                      4.0              4.0
5               1.051751        4                      4.0              1.0
...                  ...      ...                      ...              ...
4405            1.167343        6                      3.0              4.0
4406            1.342867        6                      4.0              1.0
4407            1.110996        8                      4.0              4.0
4408            2.022289       18                      1.0              3.0
4409            1.707648        8                      4.0              1.0

            WorkLifeBalance  JobInvolvement  PerformanceRating
EmployeeID
1                       2.0               3                  3
2                       4.0               2                  4
3                       1.0               3                  3
4                       3.0               2                  3
5                       3.0               3                  3
...                     ...             ...                ...
4405                    3.0               2                  3
4406                    3.0               3                  3
4407                    3.0               2                  3
4408                    3.0               3                  4
4409                    3.0               2                  3

[4382 rows x 33 columns]

In [16]:
%store df

Stored 'df' (DataFrame)